/AssignmentPRJ301SP22/nbproject/private/
/day1/nbproject/private/
/day1/build/
/day2/nbproject/private/
/JavaApplication1/nbproject/private/
/Lap3/nbproject/private/
/Lap3/build/
/Lap3/dist/
/Day2/nbproject/private/
/Day2/build/
/day3/nbproject/private/
/day3/build/
/Day3_Q1/nbproject/private/
/Day3_Q1/build/
/Day3_Q2/nbproject/private/
/Day3_Q2/build/
/AssignmentPRJ301SP22/build/
/Day5/nbproject/private/
/Day5/build/
/Q1/nbproject/private/
/Q1/build/
/Day6/nbproject/private/
/Day6/build/
/testURL/nbproject/private/
/testURL/build/
/lab4/nbproject/private/
/lab4/build/
/test/nbproject/private/
/test/build/
/day8/nbproject/private/
/day8/build/
/DemoDummy/nbproject/private/
/lab7/nbproject/private/
/lab6/nbproject/private/
/lab6/build/
/PE_Q3/nbproject/private/
/PE_Q3/build/
/Day1/nbproject/private/
/Day1/build/
/Q2/nbproject/private/
/Q2/build/
/Q3/nbproject/private/
/Q3/build/