/AssignmentPRJ301SP22/nbproject/private/
/day1/nbproject/private/
/day1/build/
/day2/nbproject/private/
/JavaApplication1/nbproject/private/
/Lap3/nbproject/private/
/Lap3/build/
/Lap3/dist/
/Day2/nbproject/private/
/Day2/build/
/day3/nbproject/private/
/day3/build/
/Day3_Q1/nbproject/private/
/Day3_Q1/build/
/Day3_Q2/nbproject/private/
/Day3_Q2/build/
/AssignmentPRJ301SP22/build/
/Day5/nbproject/private/
/Day5/build/