<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.auth.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.auth.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodListController</servlet-name>
        <servlet-class>controller.food.FoodListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodHomeController</servlet-name>
        <servlet-class>controller.home.FoodHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFoodListController</servlet-name>
        <servlet-class>controller.admin.AdminFoodListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFoodInsertController</servlet-name>
        <servlet-class>controller.admin.AdminFoodInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFoodUpdateController</servlet-name>
        <servlet-class>controller.admin.AdminFoodUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFoodDeleteController</servlet-name>
        <servlet-class>controller.admin.AdminFoodDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListController</servlet-name>
        <servlet-class>controller.staff.StaffListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTableController</servlet-name>
        <servlet-class>controller.table.ListTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTableController</servlet-name>
        <servlet-class>controller.table.InsertTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTableController</servlet-name>
        <servlet-class>controller.table.UpdateTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTableController</servlet-name>
        <servlet-class>controller.table.DeleteTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/account/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/account/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodListController</servlet-name>
        <url-pattern>/food/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodHomeController</servlet-name>
        <url-pattern>/home/food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFoodListController</servlet-name>
        <url-pattern>/admin/food/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFoodInsertController</servlet-name>
        <url-pattern>/admin/food/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFoodUpdateController</servlet-name>
        <url-pattern>/admin/food/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFoodDeleteController</servlet-name>
        <url-pattern>/admin/food/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListController</servlet-name>
        <url-pattern>/staff/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTableController</servlet-name>
        <url-pattern>/table/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTableController</servlet-name>
        <url-pattern>/table/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTableController</servlet-name>
        <url-pattern>/table/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTableController</servlet-name>
        <url-pattern>/table/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
